
/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    position: relative;
    height: 150px;
    background: #030f27;
}
.top{
  display: flex;
  width: 100%;
}

.logo-image {
  margin-top:20px;
  width: 10%;
  margin-right: 10%;
}

.top-bar .logo {
    overflow: hidden;
}

.top-bar .top-bar-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .top-bar-icon {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar .top-bar-icon [class^="flaticon-"]::before {
    margin: 0;
    color: #030f27;
    font-size: 40px;
}

.top-bar .top-bar-text {
    padding-left: 15px;
}

.top-bar .top-bar-text h3 {
    margin: 0 0 5px 0;
    color: #030f27;
    font-size: 16px;
    font-weight: 400;
}

.top-bar .top-bar-text p {
    margin: 0;
    color: #030f27;
    font-size: 13px;
    font-weight: 400;
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
}

@media (max-width: 991.98px) {
    .top-bar .logo {
        text-align: center;
    }
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.nav-bar {
    position: relative;
    background: #030f27;
    transition: .3s;
}

.nav-bar .container-fluid {
    padding: 0;
}

.nav-bar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    z-index: 999;
}

.nav-bar .navbar {
    background: #030f27 !important;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
    font-size : 20px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #fdbe33;
    transition: none;
}



@media (min-width: 992px) {
    .nav-bar {
        padding: 0 75px;
    }

    .nav-bar.nav-sticky {
        padding: 0;
    }

    .nav-bar .navbar {
        padding: 20px;
    }

    .nav-bar .navbar-brand {
        display: none;
    }

    .nav-bar a.nav-link {
        padding: 8px 15px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media (max-width: 991.98px) {
    .nav-bar .navbar {
        padding: 15px;
    }

    .nav-bar a.nav-link {
        padding: 5px;
    }

    .nav-bar .dropdown-menu {
        box-shadow: none;
    }

    .nav-bar .btn {
        display: none;
    }
}
