{% extends "Work/Elements/base.html" %}
{% block navbar %}
<!-- Top Bar Start -->
{% load static %}
<link rel="stylesheet" href={% static "Work/css/navbar.css" %}>
            <!-- Top Bar Start -->
            <div class="top-bar">
                <div class="container-fluid top">
                  <div class="logo-image">
<img src="{% static 'media/m2.png' %}" alt="">
                  </div>
                    <div class="row align-items-center">
                            <div class="logo">
                              {% include "Work/Elements/Title.html" %}
                            </div>
                        <div class="col-lg-8 col-md-7 d-none d-lg-block">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->




            <!-- Nav Bar Start -->


            <nav class="navbar">
              <div class="containerNav">

                <div class="navbar-header">
                  <button class="navbar-toggler" data-toggle="open-navbar1">
                    <span></span>
                    <span></span>
                    <span></span>
                  </button>
                </div>

                <div class="navbar-menu" id="open-navbar1">
                  <ul class="navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li class="navbar-dropdown">
                      <a href="#" class="dropdown-toggler" data-dropdown="my-dropdown-id">
                        Report <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown" id="my-dropdown-id">
                        <li><a href="/LostForm">Lost</a></li>
                        <li class="separator"></li>
                        <li><a href="/FoundForm">Found</a></li>
                      </ul>
                    </li>

                    <li class="navbar-dropdown">
                      <a href="#" class="dropdown-toggler" data-dropdown="blog">
                        Recent <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown" id="blog">
                        <li><a href="/lost">Lost</a></li>
                        <li class="separator"></li>
                        <li><a href="/found">Found</a></li>
                      </ul>
                    </li>
                    <li><a href="/#about">About</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </div>
              </div>
            </nav>
            <script src={% static "Work/js/navbar.js" %} charset="utf-8"></script>
    <!-- Nav Bar End -->
{% endblock %}
