{% extends "Work/Elements/base.html" %}
{% block Team %}
{% load static %}
<!-- partial:index.partial.html -->
<link rel="stylesheet" href= {% static "Work/css/Teams.css" %}>
<center><h1>People</h1></center>
<div class="center">
<table>
	<thead>
		<tr>
			<th>Name </th>
			<th>Position</th>
			<th>Contact</th>
      <th>Email Id</th>
		</tr>
	</thead>
	<tbody>
    {% for item in ContactList %}
		<tr>
			<td aria-label="Job Title">
				{{item.Name}}
				</td>
			<td aria-label="Location">{{item.Position}}</td>
			<td aria-label="Department">{{item.Contact}}</td>
			<td aria-label="Posted">{{item.Email}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div><br>
<br>

<!-- partial -->

{% endblock %}
